*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fae1dd;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  font-family: "inter",sans-serif;
}

.page-container{
  display: flex;
  justify-content: center;
  height: 100vh;
}
